﻿@using SFSdotNet.Framework.Web.Mvc
@{

    TemplateData ui = SFSdotNet.Framework.Web.Mvc.UIApp.GetUIData(this.ViewContext);
    string urlImageProfile = ui.GetUrlImageProfileUser(160, 160);

    string changelang = null;
    if (this.Request.Cookies["ASP.NET_SessionId"] != null)
    {
        var lang_url = SFSdotNet.Framework.Cache.Caching.GetFromGlobal(this.Request.Cookies["ASP.NET_SessionId"].Value + "lang-url");
        if (lang_url != null)
        {
            changelang = lang_url.ToString();
            SFSdotNet.Framework.Cache.Caching.RemoveInGlobal(this.Request.Cookies["ASP.NET_SessionId"].Value + "lang-url");
        }
    }

    if (!string.IsNullOrEmpty(Request.QueryString["lang"]))
    {
        if (Request.QueryString["lang"] != System.Threading.Thread.CurrentThread.CurrentCulture.ToString())
        {
            changelang = Request.QueryString["lang"];
        }
    }
    else if (Session["lang-url"] != null)
    {
        changelang = Session["lang-url"].ToString();
        Session["lang-url"] = null;

    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <title>@RenderSection("Title", false)</title>

  
    <link href="//framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <script src="@(ui.UrlStatic("~/Static/Templates/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"))" type="text/javascript"></script>

      <script>
      // jQuery.noConflict();
    </script>
   
    <script>
      
    </script>
    <link href="@(ui.UrlStatic("~/Static/v2/bootstrap-modal-bs3patch.css"))" rel="stylesheet" />
    <link href="@(ui.UrlStatic("~/Static/v2/bootstrap-modal.css"))" rel="stylesheet" />

    <script src="@(ui.UrlStatic("~/Scripts/jquery.unobtrusive-ajax.min.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.validate.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.validate.unobtrusive.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/Jquery.Numeric.js"))" ></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.pagination.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jquery.tablehover.min.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jsrender.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/timeago.js"))"></script>
    <script src="@(ui.UrlStatic("~/Scripts/jsrender.js"))"></script>
    <link href="@(VirtualPathUtility.ToAbsolute("~/"))MBKYellowBox/Content/Themes/Default/css/abl.css" rel="stylesheet">
    <link href="@(VirtualPathUtility.ToAbsolute("~/"))MBKYellowBox/Content/Themes/Default/css/custom.css" rel="stylesheet">

    <script src="@(ui.UrlStatic("~/Scripts/SFS.Web.Mvc.js"))"></script>
    <script>
        $(document).ready(function () {
            $(".float-e-margins").removeClass("box");
        });
        

             @Html.Raw(ui.RenderJavascriptStart())
    </script>
    @RenderSection("CustomScript", false)

</head>

<body >
    <main class="page">
        @*<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces">
                        <span class="sr-only">Interruptor de Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Semarnat</a>
                </div>
                <div class="collapse navbar-collapse" id="subenlaces">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Enlace</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Desplegable <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Acción</a></li>
                                <li><a href="#">Otra acción</a></li>
                                <li><a href="#">Algo más aquí</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Enlace separado</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@


        <div class="container">

            @RenderBody()
        </div>
    </main>
   
    <script src="//framework-gb.cdn.gob.mx/gobmx.js"></script>
    <script>
        $gmx(document).ready(function() {
            Utilities.requireFiles([
                           "@(ui.UrlStatic("~/Static/v2/bootstrap-modalmanager.js"))",
                           "@(ui.UrlStatic("~/Static/v2/bootstrap-modal.js"))"
        ], function () { });
        });
    </script>
</body>
</html>
