﻿<table style="width:360px">
    <tr>
        <td style="width:20px"></td>
        <td style="width:320px"></td>
        <td style="width:20px"></td>
    </tr>
    <tr>
        <td colspan="3">

        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
</table>


    (function () {
        if (typeof window.janrain !== 'object') window.janrain = {};
        window.janrain.settings = {};

        janrain.settings.type = 'modal';
        janrain.settings.appId = 'lbmbpcpioiogjkbcnnmn';

        janrain.settings.tokenUrl = 'http://localhost/Shell2Debug/SFSdotNetFrameworkSecurity/Public/LoginFromRpx?ReturnUrl=http://localhost/Shell2Debug/MBKYellowBox/rtsProjects/DetailsGen/4Q-W5LRjjITFekVzjNs-X3Qct2kb+F1y8o2DjV0jgr19BhTqt+4G45bD3RrrZcIDdz2STCGpa4A=?usemode=';
        janrain.settings.linkClass = 'janrainEngage';
        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
            window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
            e.src = 'https://rpxnow.com/js/lib/sys4me/engage.js';
        } else {
            e.src = 'http://widget-cdn.rpxnow.com/js/lib/sys4me/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();

    var rootSfsAppUrl = '/Shell2Debug/';

</script>

   
	
	<link href='/Shell2Debug/Content/datePicker.css' rel='stylesheet' type='text/css' />
<script src='/Shell2Debug/scripts/date.js' type='text/javascript'></script>
<script src='/Shell2Debug/scripts/jquery.datePicker.min-2.1.2.js' type='text/javascript'></script>
<script src='/Shell2Debug/scripts/jquery.ui.timepicker.js' type='text/javascript'></script>

	<script src='/Shell2Debug/Scripts/jquery.tablehover.min.js' type='text/javascript'></script>
<script src='/Shell2Debug/Scripts/jsrender.js' type='text/javascript'></script>
<script src='/Shell2Debug/Scripts/jquery.fixedtable.js' type='text/javascript'></script>

	<script src='/Shell2Debug/Scripts/jquery.pagination.js' type='text/javascript'></script>
<link href='/Shell2Debug/Content/pagination.css' rel='stylesheet' type='text/css' />






  
  
</head>
<body>

    <div id="headtop" class="colordarkbg">
    <div class="container">
        <div class="row-fluid">
        <div class="span6">
            <img  src="/Shell2Debug/MBKYellowBox/resource/Content.Themes.img.logotopminidark.png" />
        </div>
        <div class="span6">
             <div class="navbar">
        <div class="navbar-inner bgtrasparent noborder">
            <div class="container">
<ul class="nav pull-right">
    <li class="dropdown" id="fat-menu">
    <a class="dropdown-toggle bgtrasparent" id="drop3" role="button" href="#" data-toggle="dropdown"><img src="/Shell2Debug/Content/Themes/Default/img/engine-icon.png" alt="Alternate Text" /><b class="caret white-caret"></b></a>
           <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                      </ul>
    </li>

</ul></div></div></div>
        </div>
   
        </div>
</div>
     </div>

     <div id="headnav" class="colorlitemedbg">


     </div>

    <div id="menunav" class="colorlitemedbg">
 <div class="container">
        <div class="row-fluid">
        <div class="span10">

 <ul class="nav nav-tabs">
   <li><a href="#">Fdedsddd</a></li>
  <li><a href="#">Geessfrre</a></li>
                
                    <li class="dropdown active" ><a class="dropdown-toggle" data-toggle="dropdown" href="#">Catalogs<b class="caret"></b></a>
                     
                       <ul class="dropdown-menu">
                             <li class="dropdown-submenu">

                                <a tabindex="-1" href="/Shell2Debug/Navigation/Index/MBKYellowBox_Catalogs_Others">Other catalogs</a>

    <ul class="dropdown-menu">
      <li><a href="/Shell2Debug/MBKYellowBox/rtsActivityKeyMice">RtsActivityKeyMice</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsCommonPrograms">RtsCommonPrograms</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsProjects">RtsProjects</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsScreenshots">RtsScreenshots</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsTasks">RtsTasks</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsTeams">RtsTeams</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsTeamUsers">RtsTeamUsers</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsUsePrograms">RtsUsePrograms</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsUserProjects">RtsUserProjects</a></li>
      <li><a href="/Shell2Debug/MBKYellowBox/rtsWorkLogs">RtsWorkLogs</a></li>
    </ul>
                            </li>
                           
                        </ul>
                       
                    </li>
                


</ul>


        </div>
        <div class="span2"></div>
</div></div>


     </div>
     <div id="breadcumb" class="smalltext">
<div class="container">
<div class="row-fluid">
    <div class="span10"> 
<ul class="breadcrumb">
<li>
    
    <a href="/Shell2Debug/Navigation/Index/MBKYellowBox">MBKYellowBox</a>

    
       <span class="divider">/</span>
    </li>
<li>
    
    <a href="/Shell2Debug/Navigation/Index/MBKYellowBox_Catalogs">Catalogs</a>

    
       <span class="divider">/</span>
    </li>
<li>
    
    <a href="/Shell2Debug/Navigation/Index/MBKYellowBox_Catalogs_Others">Other catalogs</a>

    
       <span class="divider">/</span>
    </li>
<li>
    
    <a href="/Shell2Debug/MBKYellowBox/rtsProjects">RtsProjects</a>

    
       <span class="divider">/</span>
    </li>
<li>
    RtsProjects

    </li>


    </ul></div>

</div>

</div>


     </div>
     <div id="bodycontent" class="colorbg">
 <div class="container">
        <div class="row-fluid">
        <div class="span12">






<div class="grid_16 alpha omega details" >
<h2>Detalle de elemento</h2>
<script>

    var tabsOpened = new Array();
    $(document).ready(function () {

        $('#detTab').bind('shown', function (e) {
            var now_tab = e.target;

            if ($(now_tab).attr('url') != null) {

                var link = $(now_tab).attr('url');
                var div = $(now_tab).attr('href').substr(1);
                if (tabsOpened[div] != true) {
                    tabsOpened[div] = true;
                    $.ajax({

                        url: link,
                        dataType: "html",
                        cache: false,
                        success: function (data) {
                            $("#" + div).html(data);
                        }
                    });
                }
            }
        });
    });

</script>
	

<ul class="nav nav-tabs" id="detTab">
        <li class="active"><a href="#home" data-toggle="tab">InformaciÃ³n principal</a></li>
        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relaciones del proyecto<b class="caret"></b></a>

                <ul class="dropdown-menu">
                  <li class=""><a href="#menuAuto_0" url="/Shell2Debug/MBKYellowBox/rtsTasks/ListViewGen?pal=False&amp;es=False&amp;pag=20&amp;idTab=rtsTasks&amp;fk=rtsProject&amp;startFilter=rtsProject.GuidProject+%3d+Guid(%2248c12c44-f622-480b-ae7d-047ec9363c2e%22)&amp;fkValue=48c12c44-f622-480b-ae7d-047ec9363c2e" data-toggle="tab">rtsTasks</a></li>
                  <li class=""><a href="#menuAuto_1" url="/Shell2Debug/MBKYellowBox/rtsUserProjects/ListViewGen?pal=False&amp;es=False&amp;pag=20&amp;idTab=rtsUserProjects&amp;fk=rtsProject&amp;startFilter=rtsProject.GuidProject+%3d+Guid(%2248c12c44-f622-480b-ae7d-047ec9363c2e%22)&amp;fkValue=48c12c44-f622-480b-ae7d-047ec9363c2e" data-toggle="tab">rtsUserProjects</a></li>
                </ul>
    
  </li>
    </ul>
<div id="Div1" class="tab-content">
              <div class="tab-pane fade active in" id="home">

	<form class="form-horizontal display">
 
	
	
			<div class="li control-group " id="dcTitle">
				
					<label class="control-label" for="Title">Title</label> 
<span class="help"><a class="helpa" href="/Shell2Debug/Contents/GetTooltip?moduleKey=MBKYellowBox&propertyName=Title&objectKey=rtsProject&actionKey=rd&o=1&title=Title" rel="/Shell2Debug/Contents/GetTooltip?moduleKey=MBKYellowBox&propertyName=Title&objectKey=rtsProject&actionKey=rd&o=1&title=Title" title="Title" tabindex="-1">?</a></span> 




					
<div class="controls">
					<div class="grid_7 omega display-field">qsdgfd hfhfg&nbsp;
</div>
				


				</div>
	        </div>

	
	
			<div class="li control-group " id="dcDescripcion">
				
					<label class="control-label" for="Descripcion">Descripcion</label> 
<span class="help"><a class="helpa" href="/Shell2Debug/Contents/GetTooltip?moduleKey=MBKYellowBox&propertyName=Descripcion&objectKey=rtsProject&actionKey=rd&o=2&title=Descripcion" rel="/Shell2Debug/Contents/GetTooltip?moduleKey=MBKYellowBox&propertyName=Descripcion&objectKey=rtsProject&actionKey=rd&o=2&title=Descripcion" title="Descripcion" tabindex="-1">?</a></span> 




					
<div class="controls">
					<div class="grid_7 omega display-field">&nbsp;
</div>
				


				</div>
	        </div>

	

				
				
				
				
				
				
	

		
			<div class="li buttons control-group">
			<div class="controls">



                <a class="button secondary btn   edit "  id="rtsProject_EditButton" href="/Shell2Debug/MBKYellowBox/rtsProjects/EditGen/4Q-W5LRjjITFekVzjNs-X3Qct2kb+F1y8o2DjV0jgr19BhTqt+4G45bD3RrrZcIDdz2STCGpa4A=?usemode=&amp;wid=rtsProject_EditButton"  >  Editar</a>


                <a class="link   return "  id="returnLink" href="/Shell2Debug/MBKYellowBox/rtsProjects&amp;wid=returnLink"  >  Regresar</a>


                          <script>
                              var item = null;
                              $(document).ready(function () {
                                  try {
                                      item = jQuery.parseJSON('{"Id":"48c12c44-f622-480b-ae7d-047ec9363c2e","GuidProject":"48c12c44-f622-480b-ae7d-047ec9363c2e","Title":"qsdgfd hfhfg","Descripcion":null,"CreatedDate":null,"CreatedDateText":"","UpdatedDate":"\/Date(1388215800000)\/","UpdatedDateText":"2013-12-28T01:30:00","IsDeleted":null,"UpdatedUser":null,"CreatedUser":null,"GuidCompany":"317d71b1-5e03-4164-98fe-20be57cce26d","rtsTasks":null,"rtsUserProjects":null,"SafeKey":"4Q-W5LRjjITFekVzjNs-X3Qct2kb+F1y8o2DjV0jgr19BhTqt+4G45bD3RrrZcIDdz2STCGpa4A=","UIOptions":{"LinksTitle":null,"Links":[],"CreateActionName":null,"DetailsActionName":null,"PrincipalActionName":null,"ActionButtons":[],"TitleForm":null,"UseMode":null,"ContextType":3,"Permissions":null,"Properties":[],"FilterStart":"","SortBy":null,"SortDirection":0,"CanActions":"","ControllerName":"","Actions":[],"ExportActions":[{"Childs":[{"Childs":[],"Format":"xls","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"2007 (xls)","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null},{"Childs":[],"Format":"xlsx","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"2010 (xlsx)","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null}],"Format":"xls","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"Microsoft Excel","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null},{"Childs":[],"Format":"doc","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"Microsoft Word","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null},{"Childs":[],"Format":"pdf","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"PDF","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null},{"Childs":[],"Format":"html","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"HTML","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null},{"Childs":[],"Format":"xml","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"XML","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null},{"Childs":[],"Format":"csv","IsButtonReplaced":false,"Condition":null,"Enabled":true,"Title":"Archivo plano","Description":null,"ActionKey":"Download","PermissionKey":null,"SelectionMin":null,"SelectionMax":null,"Url":null,"IsPopUp":null,"ClientFunction":null}],"ExportCustomActions":[]},"ToStringProperty":"qsdgfd hfhfg","ReturnUrl":null,"__continue":null,"__popup":null,"__returnafter":null,"__usemode":null,"ReturnPartialView":false,"PartialView":null,"IsNew":false}');

                                  } catch (e) {

                                  }
                              });
                              var lastActionExecuted = false;
                              var lastAction = "";
                              function onCloseActionWindow() {
                                  if (lastActionExecuted == true) {
                                      if (typeof (onCloseActionWindowDone) != "undefined") {
                                          var data = null;
                                          onCloseActionWindowDone(data);
                                      } else {

                                          blockUI();
                                          window.location = $("#returnLink").attr("href");
                                      }
                                  }

                              }
                          </script>
       </div>

		</div>

	</form>

	<!--end 112-->
	

              </div>
                 
              <div class="tab-pane fade" id="menuAuto_0">
                <div class="preloader-big"></div>
              </div>
              <div class="tab-pane fade" id="menuAuto_1">
                <div class="preloader-big"></div>
              </div>
</div>
<!--end 103-->
	
   

	


</div>
<!--end 104-->






</div>
</div>
</div>
     </div>
     <div id="footer" class="colorlitemedbg">


     </div>


</body>
</html>
