﻿@model MBK.YellowBox.Web.Mvc.Models.cmeMeetings.cmeMeetingModel
@{ 
    string titleCropped = Model.TitleGroup;
    string titleFull = Model.TitleGroup;
    string subtitleCropped = Model.Title;
    string subtitleFull = Model.Title;
    string locationsCropped =  Model.Location;
    if (locationsCropped != null && locationsCropped.Length > 32)
    {
        locationsCropped = locationsCropped.Substring(0, 32);

    }
    if (string.IsNullOrEmpty(titleCropped))
    {
        titleCropped = subtitleCropped;
        titleFull = subtitleFull;
    }
    if (titleCropped.Length > 27)
    {
        titleCropped = titleCropped.Substring(0, 27);

    }
    if (subtitleCropped.Length > 32)
    {
        subtitleCropped = subtitleCropped.Substring(0, 32);

    }

}
<div class="" style="padding:10px" meeting-id="">
    <div class="row-meeting-preview header">
      

            <div class="divTable" >
                <div class="divTableBody">
                    <div class="divTableRow">
                        @if (ViewBag.RemoveTopIcons == false)
                        {
                        <div class="divTableCell iconcor" ><i class="fa fa-list-ul" aria-hidden="true"></i></div>
                        }
                        <div class="divTableCell title"><a class="link-preview" href="#" title="@(titleFull)"> @(titleCropped)</a> </div>
@if (ViewBag.RemoveTopIcons == false)
{

                        <div class="divTableCell iconcor" >
                            <a href="@(VirtualPathUtility.ToAbsolute("~/"))MBKYellowBox/cmeMeetings/DisplayFullMeetingPreview?id=@(Model.GuidMeeting)" class="link-preview">    
                            <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            </a>
                        </div>
}
                    </div>
                    <div class="divTableRow">
@if (ViewBag.RemoveTopIcons == false)
{
                        <div class="divTableCell iconcor"></div>
}
                        <div class="divTableCell sub-title"><span title="@(subtitleFull)">@(subtitleCropped)</span> </div>
@if (ViewBag.RemoveTopIcons == false)
{
                       <div class="divTableCell iconcor"> </div>
}
                </div>
                </div>
            </div>
       

    </div>
    <div class="row-meeting-preview">
        
        <div class="meeting-preview-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span class="from-time"> @(Model.StartTime.Value.Hour):@(Model.StartTime.Value.Minute)</span> - <span class="to-time">@(Model.EndTime.Value.Hour):@(Model.EndTime.Value.Minute)</span> <span class="badge total-time">@(Model.TotalTime)</span>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Location))
        {
        <div class="meeting-preview-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i> <span title="@(Model.Location)">@(locationsCropped)</span> 
        </div>
        }



    </div>
    @if (ViewBag.RemovePeople == false)
    {
     <div class="row-meeting-preview">
        
         <ul  class="elastislide-list attendants">      
             @foreach (var attendant in Model.Attendants)
             {
                 string urlImg = VirtualPathUtility.ToAbsolute("~/") + "image.ashx?controller=secFiles&ns=SFSdotNet.Framework.Security&idc=GuidFile&datac=FileData&typec=FileType&sizec=FileSize&id=" + attendant.IdFile.ToString() + "&model=secFiles.secFileModel&type=image/jpeg&w=45&h=45";
                 <li>
                     <a href="#"><img class="img-circle" src="@Html.Raw(urlImg)" alt="image01" /></a>
                 </li>

             }
         </ul>
      
     </div>
    }
</div>

@*<table class="meeting-preview">
    <tr class="title">
        <td class="icon"><i class="fa fa-list-ul" aria-hidden="true"></i></td>
        <td>
            <span class="title-preview">@Model.TitleGroup</span>
            <span class="subtitle">@Model.Title</span>
        </td>
        <td class="icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
    </tr>
    <tr>
        <td colspan="3" class="td-row-table">
            <div>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="from-time">1:00 pm</span> - <span class="from-time">2:15 pm</span> <span class="badge">1:15</span>
            </div>
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
        </td>
    </tr>
    <tr>
        <td  colspan="3" class="td-row-table">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </td>
    </tr>*@
    @*<tr>
        <td colspan="3">
            <p>
                My pendings: <span class="my-pendings">2 Tasks </span>
            </p>
            <p>
                Team pendings: <span class="team-pendings">20 Tasks </span>
            </p>
        </td>
    </tr>*@
@*</table>*@

