﻿@model List<MBK.YellowBox.Web.Mvc.Models.TimeLineItemTime>

@foreach (var itemTime in Model)
{
    <li class="time-label">
        @if (!string.IsNullOrEmpty(itemTime.FriendlyWhen))
        {
            <span class="friendlywhen @itemTime.ExtraClass">
                @itemTime.FriendlyWhen
            </span>
        }
        <span class="date-day">
            @itemTime.TimeText
        </span>
    </li>
    foreach (var meeting in itemTime.Meetings)
    {
        string time = "";
        if (meeting.StartTime != null)
        {
            time = meeting.StartTime.Value.Hour.ToString() + ":" + meeting.StartTime.Value.Minute.ToString();
        }
        <li>
            <!-- timeline icon -->
            <span class="badge time-line-ball" style=""> @(time)</span>
            <div class="timeline-item">
                @{ Html.RenderAction("ShowItemPreview", new { model = meeting }); }
            </div>
        </li>
    }
}