﻿<script>
    $(document).ready(function () {
        $("body").css("background-image", "url('{APP_PATH}MBKYellowBox/Content/img/u1.jpg')");
        $("body").css("background-size", "cover");
        $("body").css("background-repeat", "no-repeat");
        $("body").css("background-position", "center center");
        $("body").css("background-color", "red");

    });
    $("#form_LoginModel #HasErrorPassword").after("<div class='row'><div class='col-sm-12 text-center'>YellowBox</div></div>");
</script>
