﻿@{
    var uiModel = (SFSdotNet.Framework.Web.Mvc.Models.UIModel)ViewData["uiModel"];

    string idTab = Request.QueryString["idTab"];


}
<style>
    .badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
</style>
<script>
    function onListLoaded@(idTab)(jqElement, data) {

        for (var i = 0; i < data.length; i++) {
            if (data[i].Grade == 1) {
                $('tr.itemData', jqElement).eq(i).find("td").each(function () {
                    $(this).addClass("list-ok");

                });

            }

            if (data[i].Group != null ) {
                $('tr.itemData', jqElement).eq(i).find("td.celFullName").each(function () {
                    $(this).append("<span class='badge badge-warning'>" + data[i].Group + "</span>");

                });

            }
        }
    }
</script>
